.card {
    display: flex;
    flex-flow: column;

    border-radius: 10px;
    border: 3px solid black;
    overflow: hidden;
    text-align: center;
}

.card-image-section {
    display: flex; align-items: center; justify-content: center;
    height: 70%; width: 100%;
}

.card-text-section {
    display: flex; flex-flow: column; flex: 1;
    align-items: center; justify-content: center;
    background-color: rgb(67, 131, 210);
    color: white;
    font-size: 26px; font-weight: 600;
    border-top: 3px solid black;
}

.card-image-section .image{
    height: 100%;
    width: 100%;
}