@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

footer {
    display: flex; align-items: center; justify-content: center;
    width: 100%; min-height: 50px;
    background-color: rgb(67, 131, 210);
    font-family: 'Crimson Text', serif;
    gap: 8px;
    font-size: 18px;
    color: rgb(6, 6, 6);
    font-weight: 500;
}

.github-svg {
    width: 24px; height: 24px;
}