.gameboard-flex {
    display: flex;
    flex-flow: column;
    justify-content: center; align-items: center;
    width: 100%; flex: 1;
}

.gameboard-grid{
    display: grid;
    column-gap: 80px;
    row-gap: 30px;
    justify-content: center;
    height: 100%; width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(160px, 160px));
    grid-template-rows: repeat(auto-fit, minmax(240px, 240px));
    background-color: rgb(222, 135, 28);
    padding: 20px 30px;
}