@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
header {
    display: flex;
    width: 100%; height: 100px;
    background-color: rgb(67, 131, 210);
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    font-family: 'Alfa Slab One', cursive;
    color: rgb(253, 165, 49);
}

.title-page {
    font-size: 40px;
}

.score {
    display: flex;
    flex-flow: column; align-items: flex-start;
    
}